<h1>Songs#show</h1>
<p>Find me in app/views/songs/show.html.erb</p>

<h1><%= @song.name %></h1>
<h3><%= link_to Artist.find(@song.artist_id).name, artist_path(Artist.find(@song.artist_id)) %></h3>
<h4><%= link_to Genre.find(@song.genre_id).name, genre_path(Genre.find(@song.genre_id)) %></h4>
<%= link_to 'Edit', edit_song_path(@song) %>
